<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Manager</title>
    <link rel="stylesheet" href="/css/jass.css">
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
  <div class="flex-column justify-space-around">
    <header class="main-header display-flex justify-space-between align-center p-2">
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo"><span role="img" aria-label="Plans">📊</span> Eventify </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              {{#if logged_in}}
              <li><a href="/profile">Profile</a></li>
              <li><a href="#" id="logout">Logout</a></li>
              {{else}}
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
              {{/if}}
              <li><a href="/events">Events</a></li>
            </ul>
        </div>
      </nav>

<ul class="sidenav" id="mobile-demo">
  {{#if logged_in}}
  <li><a href="/profile">Profile</a></li>
  <li><a href="#" id="logout">Logout</a></li>
  {{else}}
  <li><a href="/login">Login</a></li>
  <li><a href="/signup">Signup</a></li>
  {{/if}}
  <li><a href="/events">Events</a></li>
</ul>

    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
    <script src="/js/userLogout.js"></script>
  {{/if}}
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>  
<!-- Initialize sidenav -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {});
  });
</script>
</body>

</html>
</html>