<h3>Post a new Event</h3>

<form class="form new-event">

  <div class="form-group">
    <label for="event-title">Title:</label>
    <input class="form-input" type="text" id="event-title" />
  </div>

  <div class="form-group">
    <label for="event-desc">Description:</label>
    <input class="form-input" type="text" id="event-desc" />
  </div>

  <div class="form-group">
    <label for="event-loca">Location:</label>
    <input class="form-input" type="text" id="event-loca" />
  </div>

  <div class="form-group">
    <label for="event-date">Date:</label>
    <input type="text" class="datepicker" id="event-date">
  </div>

  <div class="form-group">
    <label for="event-time">Time:</label>
    <input type="text" class="timepicker" id="event-time">
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Post Event</button>
  </div>

</form>

<!-- Materialize JavaScript -->
<script type="text/javascript" src="/js/materialize.min.js"></script>

<!-- Initialize datepicker -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, {
      format: "yyyy-mm-dd"
    });
  });
</script>

<!-- Initialize timepicker -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.timepicker');
    var instances = M.Timepicker.init(elems, {
      twelveHour: false
    });
  });
</script>

<script src="/js/eventPost.js"></script>
