<h2>All Events:</h2>
{{#each events as |event|}}
{{> event-details}}
{{/each}}

<!-- Floating button for posting new event -->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" href="/newEvent">
    <i class="material-icons">add</i>
  </a>
</div>

<script src="/js/events.js"></script>
