<main>
    <section class="card">
        <header>Event 1</header>
        <img src="" alt="Picture 1" />
        <p>Price: $300</p>
    </section>
    <section class="card">
        <header>Event 2</header>
        <img src="" alt="Picture 2" />
        <p>Price: $150</p>
    </section>
    <section class="card">
        <header>Event 3</header>
        <img src="" alt="Picture 3" />
        <p>Price: $30</p>
    </section>

</main>